/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fixed width container class that will "auto-center" */
.container {
    width: 1200px;
    margin: 0 auto;
}
.btn {
    background-color:dimgray;
    color:ghostwhite;
    font-style: bold;
}
.row {
    flex: 1;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    justify-content: space-around;
}

.col {
    width: 80%;
}

.col-1 {
    flex: 1;
}
.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}

.navbar {
    color:silver;
    background-color: rgb(53, 16, 15);
    font-family:sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 1%;
}
.nav-left {
    width: 60%;
}
.nav-left :nth-child(3) {
    font-weight: bold;
}
.nav a {
    color:silver;
    text-decoration: none;
}